:root{
    --background-color : #0B090A ;
    --top-bar-color-slide-bar-color : #161A1D ;
    --normal-text-color : #ADE8F4; ;
    --main-text-color : #00B4D8 ;
    --big-box-color : #161A1D ;
    --smaill-box-color : #CAF0F8 ;
    --learnmore-box-color : #00B4D8 ;
    --text-normal-size : 16px; 
    --text-main-size : 48px ;
    --font-type : Verdana, Geneva, Tahoma, sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--background-color);
    height: auto;
    width: auto;
}
.leftbar a.leftwords:hover {
    color: var(--learnmore-box-color);
}
.leftbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
section.topbar{
    background-color: var(--top-bar-color-slide-bar-color);
    height: 60px;
    padding-top: 10px;
}
section.topbar span.span{
    padding-left: 20px;
    font-size:30px;
    cursor:pointer;
    color: var(--main-text-color);
}
section.topbar span.span:hover{
    color: var(--learnmore-box-color);
}
section.topbar div.leftbar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--big-box-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
section.topbar div.leftbar a{
    font-size: var(--text-normal-size);
    color: var(--normal-text-color);
    font-family: var(--font-type);
    margin-top: 20px;
    text-decoration: none;
    flex-direction: column;
    padding: 8px 0px 8px 52px;
    transition: 0.3s;
    display: flex;
}
/****************  Web site  ************************/
section.info {
    margin-top: 20px;
}
section.info div.maintext {
    display: flex;
    justify-content: center;
    align-items: center;
}
section.info div.maintext p{
    color: var(--main-text-color);
    font-size: var(--text-main-size);
    font-family: var(--font-type);
}
/****************  parts  ************************/
section.parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.parts div{
    background-color: var(--big-box-color);
    height: 150px;
    width: 300px;
    border-radius: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main{
    font-size: 20px;
    color: var(--main-text-color);
    font-family: var(--font-type);
    margin-top: 6px;
}

.second{
    color: var(--smaill-box-color);
    font-family: var(--font-type);
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
}
div.line6{
    margin-bottom: 60px;
}